@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.letter{
  background-image: url('../news-letter-bg.png');
  width: 100%;
  height: 533px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.trusted-img{
    margin: 0;
    margin-left: 500px;
    margin-bottom: -500px;
    width: 286px;
    height: 286px;
    position:absolute;
    top: 2300px;
}
 
@media screen and (max-width:576px){
  
   .header{
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 16px;
   }

  .navber-item{
    display: none;
  }


  .always-fresh{
    flex-direction: column-reverse;
    width: 100%;
    border: 1px solid red;
    margin: 0px;

  }

  .always{
    font-size: 24px;
    font-weight: 700;
  }

  .always-para{
   margin-top: 28px;
   margin-left: 16px;
   margin-left: 16px;
  }
  .our-plants{
   justify-self: center;
   text-align: center;
   margin-right: 28px;
   margin-left: 28px;
  }
   .our-h{
   font-size: 24px;
   font-weight: 700;
  }
  .our-p{
    font-size: 14px;
    width: 336px;
    height: 68px;
  }
  .card-number{
    display: grid;
    grid-template-columns: column;
    margin-left: 0;
    margin-right: 0;
  }
  .card-1{
   
    width: 171px;
    height: 340px;
    margin: 12px;
  }

  .card-img{
    width: 171px;
    height: 196px;
  }
  .card-h{
   width: 96px;
   height: 12px;
   font-weight: 16px;
   font-weight: 500;
   justify-content: center;
   align-items: center;
   text-align: center;
  }
  .card-st{
   width: 59;
   height: 12px;
   font-size: 16px;
   font-weight: 700;
   margin-bottom: 30px;
   text-align: center;
  }
  .card-btn{
   width: 171px;
   height: 50px;
   font-size: 16px;
    font-weight: 400;
  }  
 
  .plants-lover{  
   flex-direction: column;
  }
   .plants-content{   
   width: 100%;
   height: 50%;
   margin: 15px ;
  }
  .trusted-img{
     display: none;
   }
  .flower-price{
    flex-direction: column;
  }
  .flower-price-1{
    width: 100%;
    height: 100%;
    margin: 5px;
  }
 
  .flower-price-2{
    width: 100%;
    height: 100%;
    margin: 5px;
  }
  .flower-price-3{
    width: 100%;
    height: 100%;
    margin: 10px;
  }
  .letter{
   
    width: 100%;
    height: 100%;
  }
  .letter-bg{
   width: 475px;
   height: 275px;
   justify-content: center;
   align-items: center;
   margin: 10px;
   border-radius: 10px;
   
  }
  .join-h{
    width: 235px;
    height: 27px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    
  }
  .h-btn{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
  }
  .btn-s{
    height: 50px;
  }
  .btn-w{
    width: 300px;
    height: 50px;
  }
}
  













