@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
  font-family: "Noto Serif", serif;
}
.letter{
  background-image: url('./news-letter-bg.png');
  width: 100%;
  height: 533px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;

}
.trusted-img{
    margin: 0;
    margin-left: 500px;
    margin-bottom: -500px;
    width: 286px;
    height: 286px;
    position:absolute;
    top: 2300px;
}
h1:hover{
  color: aqua;
} 
h3:hover{
  color: chartreuse;
}
p:hover{
  color: dodgerblue;
}
h4:hover{
  color: rgb(8, 160, 254);
}
button:hover{
  color: black;
}

ul:hover{
  color: rgb(3, 247, 247);
}
.hide{
 display: none;
}

@media screen and (max-width:576px){
  
  /* header-container */

  .header-container{
    
  }
   .img-shopping{
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    margin: 20px;
    
   }

  .navber-item{
    display: none;
  }

  .always-fresh{
    flex-direction: column-reverse;
    width: 100%;
    margin: 0px;
  }

  .always{
    font-size: 24px;
    font-weight: 700;
  }

  .always-para{
   margin-top: 28px;
   margin-left: 16px;
   margin-left: 16px;
  }

   .card-section{
    margin-bottom: -200px;
    margin-left: -20px;
   }

   /* section Our plants */
  
  .our-plants{
   justify-self: center;
   text-align: center;
   margin-right: 28px;
   margin-left: 28px;
   margin-top: 65px;
   margin-bottom: 28px;
  }
   .our-h{
   font-size: 24px;
   font-weight: 700;
  }
  .our-p{
    font-size: 14px;
    width: 336px;
    height: 68px;
  }

/* card div start */

   .card-section{
     margin-bottom: 20px;
   }

  .card-number{
    margin-left: 40px;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-1{
    width: 171px;
    height: 340px;
    margin: 12px;
  }

  .card-img{
    width: 171px;
    height: 196px;
    
  }
  .card-h{
   width: 96px;
   height: 12px;
   font-weight: 16px;
   font-weight: 500;
   margin-bottom: 10px;
   text-align: center;
  }
  .card-heading{
    margin-left: 40px;
  }
  .card-hhhh{
    align-items: center;
    text-align: center;
  }
  .card-st{
   width: 100%;
   height: 12px;
   font-size: 16px;
   font-weight: 700;
   margin-bottom: 20px;
   text-align: center;
    margin-left: 45px;
  }
  .card-btn{
   width: 171px;
   height: 50px;
   font-size: 16px;
   font-weight: 400;
   margin: 0px;
  }  

  /* flower-plants-lover */
   .flower-plants-lover-container{
    margin-top: 0;
   }
  .plants-content{   
   margin-left: 0;
   margin-right: 0;
  }
 .flower-lover{
   flex-direction: column;
   margin: 5px;
   gap: 0px;
 
 }
 .flower-plants-lover{
   margin-top: 18px;
   width: 90%;
  }
 .flower-lover-h{
  font-size: 24px;
  font-weight: 700;
 }
 .lover-br{
  display: none;
 }
 .flower-lover-p{
  font-size: 14px;
  margin: 0;
 }
  .trusted-img{
     display: none;
   }

    /* section latest deals */
  .latest-deals{
   justify-self: center;
   text-align: center;
   margin-right: 28px;
   margin-left: 28px;
   margin-top: 20px;
  }
   .latest-h{
   font-size: 24px;
   font-weight: 700;
  }
   .latest-p{
    font-size: 14px;
    width: 336px;
    height: 68px;
  }

  .flower-price{
    flex-direction: column;
    margin-top: -20px;
  }
  .flower-price-1{
    width: 380px;
    height: 100%;
    margin: 3px;
    border-radius: 30px;
  }
 
  .flower-price-2{
    width: 380px;
    height: 100%;
    margin: 3px;
    border-radius: 30px;
  }
  .flower-price-3{
    width: 380px;
    height: 100%;
    margin: 5px;
    margin-bottom: -90px;
    border-radius: 30px;
  }
  .price-font-h{
    font-size: 20px;
    font-weight: 700;
  }
  .price-font-p{
    font-size: 16px;
    font-weight: 500;
  }
/* last section join the colorful Bunch */

  .letter{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 100%;  
  }
  .letter-bg{
   height: 275px;
   margin: 20px;
  }

  .join-h{
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 27px;
    font-size: 20px;
    font-weight: 700;
    margin-top: -100px;
    padding: 0px;
  }

  .h-btn{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    margin-left: -140px; 
  }

  .btn-s{
    width: 100px;
    height: 50px;
    margin: 0px;
    padding: 0 5px 0;

  }

  .btn-w{
    width: 160px;
    height: 50px;
    font-size: 16px;
    font-weight: 100;
    margin: 0px;
  }
   .write-email{
    padding-left: 20px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    /* padding-right: 114px; */
    border-radius: 10px;
   }

  .form{
    width: 200px;
    height: 50px;
    padding: 0px;
  }
  .joni-the-colorful{
    margin: 2%;
  }
  .footer-1{
    grid-template-columns: 2fr;
    margin: 20px;
    
  }
  
  .footer-2{
    grid-template-columns: 1fr;
    margin: 0px;
  }

  .footer-m{
    width: 359px;
    height: 173px;
    margin: 0px;
    padding: 0px;
  }

   .footer-p{
     font-size: 16px;
     font-weight: 100;
     margin: 0px;
   }

  .footer-i{
    align-items: center;
    height: 36px;
    gap: 20px;
    margin-left: 100px;
    
  }
}
  

